
header {
  font-family: monospace;
  font-weight: bold;
  color: red;
  background-color: rgb(62, 63, 66);
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  text-align: center;
}

a:hover {
  color: red;
  font-weight: bold;
}

.black {
  color: black;
  background-color: rgb(241, 183, 70);
  font-size: 30px;
}

.goldbg {
  background-color: rgb(241, 183, 70);
  width: 100%;
  font-family: monospace;
}

form {
  border-top-style: double;
  border-top-color: red;
  padding: 20px;
}

thead {
  background-color: lightgrey;
}

tr:hover {
  color: red;
}
