<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>

    <!-- Bootstrap -->
    <!--Compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--jQuery CDN-->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

    <!--Compiled and minified JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <h1><img src="Firelogo.png" alt="firelogo" height="70px">Oconee County Fire Rescue<img src="Firelogo.png" alt="firelogo" height="70px"></h1>
    </header>
    <nav class="navbar navbar-expand-lg"> <!--taken from bootstrap-->
      <ul class="nav navbar-nav goldbg">
              <li><a class="black" href="index.html">Home</a></li>
              <li><a class="black" href="certificate.html">Certificate</a></li>
              <li><a class="black" href="reports.html">Reports</a></li>
      </ul>
    </nav>


    <!-- content goes here -->
    <div id="certData">
      <h2>Certifications</h2>
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th>Certificate ID</th>
            <th>Agency</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="d in cert" @click="handleRowClick(d)">
            <td>{{ d.certId }}</td>
            <td>{{ d.agency }}</td>
            <td>{{ d.certType }}</td>
          </tr>
      </table>
    </div>
    <div clas="container">
    <div id="certificate">
      <div>
        <h2>Add Member Certification</h2>
        <!-- <noscript>This page REQUIRES Javascript</noscript> -->
        <form @submit.prevent="handleSubmit">
          <div class="form-group row">
            <label for="inputFirstName" class="col-sm-2 col-form-label">Member ID</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="ocfrFirstName" placeholder="ID" v-model="recordCert.personId">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputLastName" class="col-sm-2 col-form-label">Certificate ID</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="ocfrLastName" placeholder="Certificate ID" v-model="recordCert.certId">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPosition" class="col-sm-2 col-form-label">Renew Date</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="ocfrPosition" placeholder="Renew Date" v-model="recordCert.renewDate">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputStation" class="col-sm-2 col-form-label">Expiration Date</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="ocfrStation" placeholder="Expiration Date" v-model="recordCert.expireDate">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Add Certification</button>
            </div>
          </div>
        </form>
      </div>
      <!-- <div class="filter">
        <select v-model="filter.certType">
          <option value="">(all)</option>
          <option>CPR</option>
          <option>HAZMAT</option>
          <option>Firefighter I</option>
          <option>POST</option>
          <option>Paramedic</option>
          <option>Due Regard</option>
          <option>EMT-Adv</option>
          <option>Firefighter II</option>
          <option>Extrication</option>
        </select>
      </div> -->
      <div class="filter">
        <select v-model="filter.firstName">
          <option value="">(all)</option>
          <option  v-for="b in certificates">{{ b.firstName }}</option>
        </select>
      </div>
        <table id="certTable" class="table table-sm table-hover">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Certificate ID</th>
              <th>Certification</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="c in certificates" @click="handleRowClick(c)" v-if="filter.firstName=='' || c.firstName==filter.firstName">
              <td>{{ c.firstName }}</td>
              <td>{{ c.lastName }}</td>
              <td>{{ c.certId}}</td>
              <td>{{ c.certType }}</td>
              <td>
                <form><input type="button" class="btn btn-primary" value="Delete" @click='handleDelete(c.certId)'></form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- <div id="editCert">
              <noscript>This page REQUIRES Javascript</noscript>
              <h2>Edit Certificates</h2>
              <h8>Click on a member on the above table to make changes</h8>
              <form @submit.prevent="handleSubmit">
                <div class="form-group row">
                  <label for="inputFirstName" class="col-sm-2 col-form-label">Member ID</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="editId" placeholder="ID" v-model="certificate.personId">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputLastName" class="col-sm-2 col-form-label">Renewal Date</label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control" id="editRenew" placeholder="Renew Date" v-model="certificate.renewDate">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputLastName" class="col-sm-2 col-form-label">Expiration Date</label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control" id="editExpire" placeholder="Expiration Date" v-model="certificate.expireDate">
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Edit Certification</button>
                  </div>
                </div>
              </form>
            </div> -->
        </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="js/cert.js"></script>
    <script src="js/editCert.js"></script>
    <script src='js/certData.js'></script>
      <!-- from http://tristen.ca/tablesort/demo/ -->
    <script src='js/sort.min.js'></script>
    <script>
      new Tablesort(document.getElementById('certTable'));
    </script>
  </body>

  <footer></footer>
</html>
